span.undefined { color:red; }
.bibtable {width:100%; margin: 0 auto; clear: both;}
.clear {clear:both;}
.year { position: relative; height: 100%; border-bottom: 1px solid black; display: inline-block;}
.yearlabel { position: absolute; bottom: -20px; text-align: center; width: 100%; font-size: smaller;}
.pub { border: 1px solid white; background-color: #eee; }
.legend .pub { width: 10px; height: 10px; display: inline-block; margin: 0 5px 0 15px;}
.legend { margin-bottom: 20px; text-align: center; width: 100%;}
table.display tfoot th { padding: 3px 10px; border-top: 1px solid black; font-weight: bold; }
table.display td { padding: 3px 10px; }
table.display td.center { text-align: center; }
tr.odd { background-color: white; }
tr.even { background-color: white; }
div.hidden { display: none;}
div.bibinfo { width: 80%; position: fixed; top: 100px; left: 10%; background-color: #bbb; border: 3px solid #fff; padding: 10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px; z-index: 50;}
#shutter { background-color: #555; opacity: 0.7; width:100%; height: 100%; position: fixed; top: 0; left:0; z-index: 20;}
a.bibclose { background-color: #BBBBBB; border: 3px solid #FFFFFF; color: black; float: left; font-size: 20px; height: 20px; left: -25px; line-height: 20px; padding: 3px; position: relative; text-align: center; text-decoration: none; top: -25px; width: 20px; -moz-border-radius:15px; -webkit-border-radius:15px; -o-border-radius:15px; border-radius:15px; }
div.bibinfo pre { clear:both; }
.dataTables_filter {display: none}
.dataTable thead {display: none}
.dataTables_info {display: none}
pre#bibtex{display: none}
.social-network i.icon:only-child{margin-right: .1em !important;}
.social-network i.icon{margin-left: .75em}
.social-network a:first-of-type i.icon{margin-left: 0}

.social-network a{color: rgba(0,0,0,.6);}
.social-network a:visited{color: rgba(0,0,0,.6);}
article {font-size: 1.2em}
